<nz-layout class="inner-content">
  <nz-sider [nzWidth]="'280px'"
            nzCollapsible
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null"
            class="mobile-size"
  >
    <div *ngIf="!isCollapsed" class="style-logo">
      <span class="header-div">{{city?.name}}</span>
    </div>

    <div *ngIf="isCollapsed" class="style-logo">
      <span class="header-div">109</span>
    </div>

    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li *ngFor="let menu of sideMenu;" nz-menu-item (click)="route(menu.routing)">
        <i nz-icon nzType="{{menu.icon}}"></i>
        <span>{{menu.name}}</span>
      </li>
    </ul>

    <ul *ngIf="isCollapsed" class="left-panel">
      <li *ngFor="let b of city?.name.split('')" class="style-logo-li">
        <span class="header-div">{{b}}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <i
        class="trigger"
        nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"
      ></i>
      <span class="text-header"> {{headerText}}</span>
    </nz-header>
    <nz-content>
      <div class="inner-content-main">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
