<form nz-form [formGroup]="validateForm">
  <nz-row>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzSpan="24" nzErrorTip="Введите ключ!">
          <nz-input-group nzPrefixIcon="highlight">
            <input type="text" nz-input formControlName="verificationCode" placeholder="Введите ключ"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>

  <nz-row *ngIf="captcha">
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-label nzSpan="24">CAPTCHA : {{captcha?.question}}</nz-form-label>
      </nz-form-item>
    </nz-col>
    <nz-col nzSpan="24">
      <nz-form-item>
        <nz-form-control nzSpan="24" nzErrorTip="Введите наименование роли!">
          <nz-input-group nzPrefixIcon="highlight">
            <input type="text" nz-input formControlName="answer" placeholder="Введите наименование ответ"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </nz-col>
  </nz-row>


  <div *nzModalFooter>
    <button nz-button nzType="default" (click)="destroyModal()">Отменить</button>
    <button nz-button nzType="primary" (click)="submitForm()">{{'Сохранить'}}</button>
  </div>
</form>
